.main {
    #{&}-heading {
        font-size: 2em;
    }
    #{&}-paragraph {
        font-size: 1.4em;
    }
}

.footer {
    & &-heading {
        font-size: 2em;
    }
    & &-paragraph {
        font-size: 1.4em;
    }
}