@use 'submodules/mixin' as m;

.footer ul {
    @include m.inline-list();
    li {
        background-color: salmon;
        padding: 0.4em;
        a {
            color: white;
        }
    }
}